<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.operatingSystem.dao.PictureMapper">

    <resultMap id="pictureResultMap" type="com.operatingSystem.model.Picture">
        <id column="id" property="id"></id>
        <result column="picturename" property="picturename"></result>
        <result column="hide" property="hide"></result>
        <result column="url" property="url"></result>
        <result column="realpath" property="realpath"></result>
        <result column="picsize" property="picsize"></result>
        <result column="suber" property="suber"></result>
        <result column="sub_date" property="subDate"></result>
        <result column="end_date" property="endDate"></result>
    </resultMap>
    <!--//select//-->
    <select id="getPictureById" parameterType="String" resultMap="pictureResultMap">
        select * from picture where id=#{id}
    </select>

    <select id="getPictureByPicturename" parameterType="String" resultMap="pictureResultMap">
        select * from picture where picturename=#{picturename}
    </select>

    <select id="getAllPictures" resultMap="pictureResultMap">
        select * from picture
    </select>

    <select id="searchPicturesByKeyword" resultMap="pictureResultMap">
        SELECT * FROM picture WHERE picturename LIKE CONCAT(CONCAT('%', #{keyword}), '%');
    </select>

    <insert id="insertOnePicture" parameterType="com.operatingSystem.model.Picture"
            keyProperty="id" keyColumn="id">
      INSERT INTO
      picture (id, picturename, sub_date, end_date,url,hide,suber,realpath,picsize)
      VALUES (#{id},#{picturename},#{subDate},#{endDate},#{url},#{hide},#{suber},#{realpath},#{picsize})
    </insert>

    <delete id="deletePictureById" parameterType="String">
       delete from picture where id=#{id}
    </delete>

</mapper>